.issue-card {
  width: 400px;

  &__header {
    justify-content: space-between;

    &__document-type {
      align-items: center;
      gap: 15px;
      font-size: 20px;
      font-weight: bold;
    }

    &__document-name {
      font-size: 12px;
      color: grey;
    }

    &__buttons {
      gap: 15px;
    }
  }

  &__actions {
    margin-top: 15px;
    gap: 25px;

    &__button {
      cursor: pointer;
      align-items: center;
      gap: 7px;

      &--label {
        font-size: 14px;
      }
    }
  }
}
