<div class="card issue-card">


  <div class="issue-card__header d-flex">
    <div>
      <div class="issue-card__header issue-card__header__document-type d-flex">
        <div>Foto de Célula Frente</div>
        <span class="badge">Incidencia</span>
      </div>
      <div class="issue-card__header issue-card__header__document-name text-secondary">
        nombre_del_documento.pdf
      </div>
    </div>

    <div class="issue-card__header issue-card__header__buttons d-flex">
      <img class="icon icon--lg" src="subir.svg" alt="upload-icon" />
      <img class="icon icon--lg" src="wa.svg" alt="wa-icon" />
    </div>
  </div>

<div class="issue-card__actions d-flex">
<div class="issue-card__actions"></div>
</div>


</div>
